.team {
    background: var(--cloud);
}

.our-team {
    list-style: none;
    display: flex;
}

.title-2 {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--navy-blue);
}

.team-container {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: var(--white);
}

.team-container img{
    width: 264px;
    height: 260px;
}

.team-container h3 {
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--navy-blue);
}

.team-container p {
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--slate);
}